<div>
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a><span class="divider">/</span>
    </li>
    <li>
      <a href="<%= identity_tables_path %>">自定义表单</a><span class="divider">/</span>
    </li>
    <li>
      编辑列表
    </li>
  </ul>
</div>
<%= render 'form' %>
